.hidden {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#todo-list {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  text-align: left;
}

#todo-list li {
  display: list-item;
  margin-bottom: 5px;
}

#todo-list li span {
  margin-left: 5px;
}

#todo-list li button {
  margin-left: 10px;
  cursor: pointer;

  font-size: xx-small;
  background: none;
  border: none;
}

#todo-form {
  width: 100%;
}

#todo-form input {
  width: 250px;
  margin-top: 70px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  text-align: center;
}

#weatherForecast {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

#quote {
  position: absolute;
  bottom: 30px;
  color: grey;
}

#greeting {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  font-size: 17px;
}

#dateClock {
  position: absolute;
  top: 100px;
  font-size: 30px;
  font-weight: bold;
}

#dateHTML {
  margin-bottom: 3px;
}

#login-form input {
  width: 250px;
  margin-top: 70px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  text-align: center;
}

#login-form input[type="submit"] {
  width: 50px;
  border: none;
  font-size: 10px;
  background: none;
}
