#todo {
  position: absolute;
  top: 220px;
  width: 400px;
  font-size: 15px;
}

#todo-list {
  list-style-type: disc;
  padding: 15px;
  margin: 0;
  text-align: left;
  max-height: 250px;
  overflow-y: auto;
}

.crossOut {
  text-decoration: line-through;
}

#todo-list li {
  display: list-item;
  margin-bottom: 5px;
  word-wrap: break-word;
  max-width: 400px;
}

#todo-list li span {
  margin-left: 5px;
  cursor: pointer;
}

#todo-list li button {
  margin-left: 10px;
  cursor: pointer;
  font-size: xx-small;
  background: none;
  border: none;
  color: rgb(211, 211, 211);
}

#todo-form {
  width: 100%;
}

#todo-form input {
  width: 250px;
  font-size: 15px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 2px solid rgb(211, 211, 211);
  background: none;
  text-align: center;
  color: rgb(211, 211, 211);
  font-family: monospace;
}

#todo-list::-webkit-scrollbar {
  width: 3px; /* Adjust the width as needed */
}

#todo-list::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 107); /* Color of the scroll thumb */
  border-radius: 10px; /* Roundness of the scroll thumb */
}

#todo-list li::marker {
  font-size: 0.8em; /* Adjust the size as needed */
}

#todo i {
  cursor: pointer;
  margin-left: 10px;
}
